[submodule "snippets"]
        path = snippets
        url = git@github.com:jeoygin/yasnippet-snippets.git
	branch = master
[submodule "yasmate"]
        path = yasmate
        url = https://github.com/capitaomorte/yasmate.git
